.diamond {
	display: inline-block;
	width: 124px;
	height: 200px;
}

.diamond-animation {
	animation: diamondFrame 0.4s forwards;
}

.hide-diamond-animation {
	animation: hideDiamond 0.4s linear forwards;
}

@keyframes hideDiamond {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes diamondFrame {
	0% {
		transform: scale(0.1);
		opacity: 1;
	}
	45% {
		transform: scale(1.2);
		opacity: 1;
	}
	85% {
		transform: scale(0.96);
		opacity: 1;
	}
	95% {
		transform: scale(1.02);
		opacity: 1;
	}
	98% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
