.spread {
	display: inline-block;
	width: 400px;
	height: 400px;
	opacity: 0;
}

.spread-animation {
	animation: initSpread 0.3s forwards;
}

.hide-spread-animation {
	animation: hide-spread 0.75s forwards;
}

@keyframes initSpread {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes hide-spread {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.1);
	}
}
