.spread {
	display: inline-block;
	width: 400px;
	height: 400px;
}

.spread-animation {
	animation: spread 0.3s;
}

@keyframes spread {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
