.star {
	position: relative;
	width: 500px;
	height: 500px;
}

.star > .dot1,
.star > .dot2,
.star > .dot3,
.star > .dot4,
.star > .dot5 {
	position: absolute;
}

.star > .dot1 {
	left: 195px;
	top: 220px;
	width: 60px;
	height: 60px;
}

.star > .dot2 {
	left: 225px;
	top: 273px;
	width: 35px;
	height: 35px;
}

.star > .dot3 {
	left: 267px;
	top: 255px;
	width: 40px;
	height: 40px;
}

.star > .dot4 {
	left: 246px;
	top: 183px;
	width: 50px;
	height: 50px;
}

.star > .dot5 {
	left: 205px;
	top: 184px;
	width: 30px;
	height: 30px;
}

.init-star-animation > .dot1 {
	animation: initStarDot1 0.3s;
}

.init-star-animation > .dot2 {
	animation: initStarDot2 0.3s;
}

.init-star-animation > .dot3 {
	animation: initStarDot3 0.3s;
}

.init-star-animation > .dot4 {
	animation: initStarDot4 0.3s;
}

.init-star-animation > .dot5 {
	animation: initStarDot5 0.3s;
}

.star-animation > .dot1 {
	animation: starDot1 1.5s linear backwards infinite;
}

.star-animation > .dot2 {
	animation: starDot2 1.5s linear backwards infinite;
}

.star-animation > .dot3 {
	animation: starDot3 1.5s linear backwards infinite;
}

.star-animation > .dot4 {
	animation: starDot4 1.5s linear backwards infinite;
}

.star-animation > .dot5 {
	animation: starDot5 1.5s linear backwards infinite;
}

@keyframes initStarDot1 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes initStarDot2 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes initStarDot3 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes initStarDot4 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes initStarDot5 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes starDot1 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		width: 60px;
		height: 60px;
		opacity: 1;
	}

	33% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		opacity: 1;
	}

	87% {
		transform: translateX(-150px) translateY(-3px) rotate(-40deg);
		opacity: 0;
	}

	100% {
		transform: translateX(-150px) translateY(-3px) rotate(-40deg);
		width: 70px;
		height: 70px;
		opacity: 0;
	}
}

@keyframes starDot2 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(10deg);
		opacity: 1;
	}

	47% {
		transform: translateX(-18px) translateY(82px) rotate(40deg);
		opacity: 0;
	}

	100% {
		transform: translateX(-18px) translateY(82px) rotate(40deg);
		opacity: 0;
	}
}

@keyframes starDot3 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(-4deg);
		opacity: 1;
	}

	13% {
		transform: translateX(0px) translateY(0px) rotate(-4deg);
		opacity: 1;
	}

	60% {
		transform: translateX(77px) translateY(71px) rotate(6deg);
		opacity: 0;
	}

	100% {
		transform: translateX(77px) translateY(71px) rotate(6deg);
		opacity: 0;
	}
}

@keyframes starDot4 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(10deg);
		width: 50px;
		height: 50px;
		opacity: 1;
	}

	40% {
		transform: translateX(0px) translateY(0px) rotate(10deg);
		opacity: 1;
	}

	87% {
		transform: translateX(71px) translateY(-82px) rotate(-30deg);
		opacity: 0;
	}

	100% {
		transform: translateX(71px) translateY(-82px) rotate(-30deg);
		width: 65px;
		height: 65px;
		opacity: 0;
	}
}

@keyframes starDot5 {
	0% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		width: 30px;
		height: 30px;
		opacity: 1;
	}

	50% {
		transform: translateX(0px) translateY(0px) rotate(0deg);
		opacity: 1;
	}

	100% {
		transform: translateX(-34px) translateY(-146px) rotate(-50deg);
		width: 40px;
		height: 40px;
		opacity: 0;
	}
}
